.card-form h1,
.card-form h2{
	text-align: center;
}
.card-form{
	padding: 0 0 50px;
	border-bottom:1px solid #000;
}
.card-form input[type="text"],
.card-form textarea{
	width: 100%;
	padding:5px 10px;
}
.card-form p{
	margin: 0;
	font-size: 11px;
}
.card-form .row{
	margin-bottom:20px;
}
.card-form label{
	display:block;
}
.card-form select{
	width: 100%;
	height: 34px;
}
.card-form .submit{
	display:block;
	margin:0 auto;
}
.search-form{
	padding: 20px 0 0;
}
.search-form .bar{
	margin: 0 0 30px;
}
.table th,
.table td{
	border:1px solid #ddd !important;
	text-align: center;
}
.table th a{
	color:#333;
	vertical-align: middle;
}